:root {
  font-family: "Segoe UI", "Microsoft YaHei UI", sans-serif;
  background-color: #222;
  color: #AAA;
  font-size: 16px;
}

::selection {
  background-color: #DDD;
  color: #111;
}

body {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}